@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {
	.header{
		padding-top: 30px;
	}
	.header__mnu{
		position: relative;
		z-index: 9999;
	}
	.header__number{
		display: none;
	}
	.header__call-icon{
		display: block;
	}
	.header__about{
		width: 100%;
		&_text{
			h2{
				font-size: 20px;
				text-align: justify;
				.color{
					font-size: 22px;
				}
			}
		}
		&_rect{
			padding: 60px 0 30px;
			&-small{
					margin: 0 auto;
					width: 60%;
					height: 60px;
					float: none;
					p{
						padding: 0;
						line-height: 60px;
					}
			}
			&::after{
				content: "";
				position: absolute;
				border-right: 1px solid #26a340;
				left: 38%;
				bottom: -22px;
				height: 40px;
				border-top: none;
			}
			&-large{
				margin: 35px auto;
				width: 100%;
				height: 85px;
				box-sizing: border-box;
				float: none;
				p{
					padding: 7px;
					text-align: justify;
				}
			}
		}
	}
	.tyara{
		display: none;
	}
	.mnu{
		width: 100%;
		text-align: center;
	}

	.we-know-how{
		padding: 60px 0;
		.we-know-how__block-percent_item{
			flex-basis: 100%;
			p{
				max-width: 60%;
			}
		}
		.we-know-how__cards{
			width: 93%;
			.black-text{
				font-size: 15px;
				padding: 15px 5px 10px;
				box-sizing: border-box;
			}
			&::after{
				background-size: contain;
			}
		}
	}
	.cards-form{
		display: none;
	}
	.cause{
		padding: 60px 0;
		.cause__tabs{
			width: 100%;
			.title__tabs{
				width: 100%;
				ul{
					li{
						.page__tabs_target{
							.tab-circle{
								left: 25px;
							}
							.page__tabs_target_text{
								font-size: 16px;
							}
						}
					}
				}
			}
			.page__box{
				display: none;
			}
		}
	}
	.video-slider{
		padding: 60px 0;
		.slick-slider{
			.slick-next, .slick-arrow{
				display: none !important;
			}
		}

	}
	.form{
		padding: 60px 0 100px;
		.form__block{
			width: 100%;
			&_triangle{
				display: none;
			}
			&_tender-form{
				padding: 50px 17px;
				width: 100%;
				input{
					min-width: 100%;
					padding-left: 10px;
				}
				.small-input{
					min-width: inherit;
					width: 46%;
					&:last-of-type {
					    margin-left: 8%;
					}
				}

				.keyboard {
			    bottom: -80px;
			    left: -87px;
			    width: 100%;
			    height: auto;
			}
			}
		}
	}
	.stage{
		padding: 60px 0;
		.stage__wawd{
			display: none;
		}
		.stage__wawd-mobile{
			display: block;
		}
	}
	.managing-structure{
		display: none;
	}
	.about-it{
		display: none;
	}
	.tender-map{
		.tender-map__contacts{
			top: 65px;
			left: 0;
			margin-left: 2%;
			margin-right: 2%;
		}
	}
}


@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 320px) {

}
