.we-know-how{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background-color: #f5f5f5;
  padding: 250px 0;
  box-sizing: border-box;
  &__block-percent{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    &_item{
      // float: left;
      // display: block;
      width: 35%;
      flex-basis: 35%;
      background-color: #fff;
      box-shadow: 0 0 10px #f1e7e7;
      margin: 10px;
      .loader{
        float: left;
      }
      p{
        float: left;
        text-align: left;
        font-size: 14px;
        font-family: $ub;
        font-weight: 400;
        line-height: 20px;
        i{
          font-style: italic;
          font-family: $ub;
        }
      }
    }
  }
  &__cards{
    width: 72%;
    margin: 0 auto;
    border-top: 1px solid #26a340;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.15);
    margin-top: 27px;
    height: 100px;
    position: relative;
    &::after{
      content: '';
      width: 100%;
      background-image: url("../img/cards-list.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 35px;
      left: 0;
      bottom: -36px;
      position: absolute;
    }

  }
}
.line{
  width: 30px;
  height: 1px;
  background-color: #009a31;
  margin: 0 auto;
}
.title-text{
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
  font-family: $ub;
  font-weight: 400;
  text-align: center;
  color: #005193;
  font-size: 24px;
  line-height: 36px;
  b{
    font-weight: 700;
  }
}
.black-text, .blue-text{
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
  font-family: $ub;
  font-weight: 400;
  text-align: center;
  color: #000;
  font-size: 20px;
  b{
    font-weight: 700;
  }
}
.blue-text{
  color: #005193;
  line-height: 28px;
}

.cards-form{
  width: 100%;
  float: left;
  background-image: url("../img/cards-form-fon.png");
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding: 250px 0;
  box-sizing: border-box;
  background-size: cover;

}
.cause{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background-color: #f5f5f5;
  padding: 250px 0;
  box-sizing: border-box;
  &__tabs{
    width: 80%;
    display: inline-block;
    float: none;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 5px;
    .title__tabs{
      width: 50%;
      float: left;
      position: relative;
      ul{
				width: 100%;
				display: block;
				position: relative;
        padding: 0;
        margin: 0;
				li{
          list-style-type: none;
					display: inline-block;
					width: 100%;
					background-color: #FFF;
          border-bottom:1px solid #0c6;
          &:last-of-type{
            border-bottom: none;
          }
					.page__tabs_target{
            display: inline-block;
						width: 100%;
            height: 120px;
            position: relative;
            text-decoration: none;
						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
              &_text{
                // padding: 20px 0;
                -webkit-box-sizing: border-box;
                   -moz-box-sizing: border-box;
                        box-sizing: border-box;
    						font-size: 18px;
  					    text-transform: uppercase;
                color: #1b4162;
                width: 70%;
                left: 30%;
                position: absolute;
                text-align: left;
  					    display: block;
  					    line-height: 25px;
                font-family: $ub;
                font-weight: 700;
    					}
            .tab-circle{
              position: absolute;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: #f51a3e;
              left: 45px;
              bottom: 26%;
              font-family: $mon;
              font-size: 24px;
              color: #fff;
              line-height: 45px;
            }
		  		}
          .page__tabs_active{
            width: 100%;
            background-color: #0c6;
            display: block;
            border-bottom-width: 0;
            .tab-circle{
              background: #fff;
              color: #f51a3e;
            }
            .page__tabs_target_text{
              color: #fff;
            }
          }
				}
			}
    }

    .page__box{
  		width: 50%;
  		float: left;
      .page__tabcontent{
        height: 500px;
        width: 100%;
        float: left;
        padding: 0 50px;
        box-sizing: border-box;
        background-image: url("../img/tabcontent-fon.png");
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: cover;
        &_title{
          color: #0bb758;
          text-align: left;
          margin: 0;
          padding-top: 40px;
          box-sizing: border-box;
          padding-bottom: 15px;
        }
        &_text{
          text-align: left;
          font-family: $ub;
          font-weight: 400;
          color: #000;
          font-size: 16px;
          line-height: 24px;
          padding: 15px 0;
          box-sizing: border-box;
          margin: 0;

        }
      }
    }
    .one{
      display: block;
    }
    .two,.three,.four{
      display: none;
    }
  }
}
.video-slider{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background-image: url("../img/video-slider_fon.png");
  background-position-y: 100%;
  background-size: cover;
  background-position-x: 50%;
  padding: 250px 0;
  box-sizing: border-box;
  .title-text-white{
    color: #fff;
  }
}


.form{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background: #f5f5f5;
  padding: 250px 0;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  &__block{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px #e6d6e6;
    display: inline-block;
    position: relative;
    min-height: 500px;
    &_tender-form{
      width: 51%;
      float: left;
      position: relative;
      padding: 60px 0 60px 60px;
        box-sizing: border-box;
      .line-left{
        float: left;
      }
      .title-text-22{
        font-size: 22px;
        text-align: left;
      }
      &_text{
        font-family: $ub;
        font-size: 14px;
        color: #010101;
        line-height: 20px;
        font-weight: 400;
        text-align: left;
      }
      input{
        min-width: 460px;
        height: 45px;
        line-height: 45px;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        background-color: #eff0f4;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10px 0;
        outline: none;
      }
      ::-webkit-input-placeholder {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      ::-moz-placeholder          {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      :-moz-placeholder           {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      :-ms-input-placeholder      {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      .small-input{
        min-width: 220px;
        &:last-of-type{
          margin-left: 20px;
        }
      }
      .fokus-1:focus{
        border: 1px solid #f54663;
      }
      .fokus-2:focus{
        border: 1px solid #0bb743;
      }
      &_footnote{
        float: right;
        min-width: 75%;
        text-align: right;
        font-size: 12px;
        font-family: $ub;
        line-height: 16px;
        color: #010101;
        font-weight: 400;
        span{
          color: #f51a3e;
          font-weight: 700;
          float: left;
        }
      }
      &_send-btn{
        min-width: 160px;
        height: 45px;
        background-color: #0bb743;
        border-radius: 23px;
        font-size: 16px;
        font-family: $ub;
        color: #fff;
        line-height: 25px;
        font-weight: 700;
        text-align: center;
        border: none;
        cursor: pointer;
        outline: none;
        float: right;
        display: inline-block;
        margin: 20px 0;
        &:hover{
          background-color: #fff;
          border: 2px solid #0bb743;
          color: #0bb743;
        }
        &:active{
          background-color: #093;
        }
      }
      .keyboard{
        position: absolute;
        left: -20px;
        z-index: 10;
        bottom: -55px;
      }
    }
    &_triangle{
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 555px solid #0bb758;
      border-left: 512px solid transparent;
      img{
        position: absolute;
        right: 182px;
        top: -41px;
        height: 550px;
      }
    }
  }
}

.stage{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background-image: url("../img/stage-fon.png");
  background-position-y: 100%;
  background-size: cover;
  background-position-x: 50%;
  padding: 250px 0;
  box-sizing: border-box;
  &__wawd{
    width: 60%;
    float: none;
    margin: 0 auto;
    display: inline-block;
    padding: 20px 0;
    box-sizing: border-box;
    &_items{
      width: 25%;
      float: left;
      text-align: center;
      &_icon{
        height: 60px;
        width: 60px;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 22px auto;
      }
      .icon-note{
        background-image: url("../img/icon-note.png");
      }
      .icon-hands{
        background-image: url("../img/icon-hands.png");
        background-size: contain;
      }
      .icon-price{
        background-image: url("../img/icon-price.png");
      }
      .icon-trophy{
        background-image: url("../img/icon-trophy.png");
      }
      &_line{
        width: 100%;
        height: 1px;
        background-color: #fff;
        float: left;
        text-align: center;
        &::after{
          content: "";
          size: 11px;
          background-color: #fff;
          position: absolute;
          border-radius: 50%;
          z-index: 2;
          margin-top: -5px;

        }
      }
      &_text{
        color: #fff;
        font-size: 16px;
        font-family: $ub;
        font-weight: 400;
        padding: 20px 16px;
        box-sizing: border-box;

      }
    }
  }
  .title-text-white{
    color: #fff;
  }
  .what-are-we-doing{
    font-weight: 400;
  }
}

.managing-structure{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  padding: 250px 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.about-it{
  width: 100%;
  float: left;
  display: block;
  position: relative;
  text-align: center;
  background-image: url("../img/about-it.png");
  background-position-y: 100%;
  background-size: cover;
  background-position-x: 50%;
  padding: 250px 0;
  box-sizing: border-box;
  .white-line{
    background-color: #fff;
  }
  .title-text-white{
    color: #fff;
  }
  &__oborot{
    background-color: #036;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 80%;
    float: none;
    margin: 0 auto;
    padding: 50px 80px;
    box-sizing: border-box;
    display: inline-block;
    &_title{
      color: #fff;
      font-family: $ub;
      font-weight: 700;
      text-align: center;
      font-size: 18px;
      line-height: 25px;
    }
    &_items{
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
      margin-top: 30px;
      &_thumb{
        height: 45px;
        width: auto;
        position: relative;
      }
      &::after{
        content: "";
        position: absolute;
        background-image: url("../img/red-krest.png");
        background-size: contain;
        size: 24px;
        margin-left: -12px;
        margin-top: -115px;
      }
      &_text{
        color: #fff;
        font-family: $ub;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        box-sizing: border-box;
        text-align: center;
      }
    }
  }
  &__form{
    width: 100%;
    float: left;
    z-index: 2;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 40px 0;
    box-sizing: border-box;
    .title-blue{
      color: #005193;
      padding: 0 150px;
      box-sizing: border-box;
      span{
        color: #f51a3e;
        font-weight: 700;
        display: inline-block;
      }
    }
    &_form-2{
      display: inline-block;
      width: 70%;
      float: none;
      margin: 0 auto;
      .about-it_input{
        min-width: 260px;
        height: 45px;
        line-height: 45px;
        float: left;
        padding-left: 15px;
        box-sizing: border-box;
        background-color: #e6e5e5;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: 10px 0;
        margin-right: 25px;
        outline: none;
      }
      ::-webkit-input-placeholder {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      ::-moz-placeholder          {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      :-moz-placeholder           {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      :-ms-input-placeholder      {font-family: $ub; font-size: 16px; font-weight: 400; color: #000;}
      &_send-btn{
        margin: 10px 0;
      }
      .fokus-1:focus{
        border: 1px solid #f54663;
      }
      .fokus-2:focus{
        border: 1px solid #0bb743;
      }
    }
    &_footnote{
      display: inline-block;
      font-family: $ub;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      width: 35%;
      color: rgba(1, 1, 1, 0.76);
      span{
        float: left;
        font-weight: 700;
        color: #f51a3e;
      }
    }
  }
}
